@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1 style="text-shadow: 2px 2px 3px green; text-align:center; font-family:'Harlow Solid',itallic">Training Management System</h1>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

